.navbar {
  vertical-align: center;
}

.navbar-absolute-bottom {
  height: 94px;
}

/* for overriding app body not standard bottom size */
.has-navbar-bottom .app-body {
  padding-bottom: 97px;
}

.panel-heading > .badge {
    float: right;
}

.section {
  padding: 0 0;
}

#current-song {
  text-align: center;
}

#player-buttons {
  margin-top: 10px;
  padding: 0px;
  text-align: center;
  list-style-type: none;
}

#player-buttons li {
  display: inline-block;
}

.glyphicon {
  vertical-align: middle;
}
